%canvas(id='canvas__middle')

%div(class='main-page__content' ng-controller="MainChatController as vm" ng-init='vm.init()')
  %div(class='wrapper')
    = render @messages

  = simple_form_for @message, url: '#' do |f|
    = f.text_area :body
  %button(ng-click='vm.send_message()')
    Send

/ think how to correct build form